/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */
body {
    margin: 0;
}
.splash-animated {
    animation: gradient 6s infinite linear;
}
.splash {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d58b);
    background-size: 300% 100%;
    height: 100vh;
}
.loading {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% -50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card {
    --card-blend-mode: overlay;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    background-image: linear-gradient(
                    #5e9ad9, #e271ad,
                    white max(9.5rem, 27vh)
    );
    overflow: hidden;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
