body{
  margin: 0;
}

.as-default-button {
  margin-top: 2px;
  text-align: start;
  border-bottom: none;
  display: flex;
  align-items: center;
}

.devtools-root-animated {
  animation-name: devtools-root;
  animation-duration: 50ms;
}

@keyframes devtools-root {
  0%   {height: 0%}
  25%   {height: 25%}
  50%   {height: 50%}
  75%   {height: 75%}
  100%   {height: 100%}
}

.resizer {
  z-index: 99;
  position: absolute;
  top: 0;
  width: 100%;
  height: 4px;
  background-color: black;
  cursor: row-resize;
  transition: all 200ms ease;
}

.root-devtools-animated {
  transition: all;
  animation: root-devtools-animation 600ms;
}

@keyframes root-devtools-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
