.main {
    display: flex;
    height: 100vh;
    background-color: aliceblue;
}

.sidebar-el-active {
    background-color: antiquewhite;
}
.sidebar-container {
    width: 20%;
    border-right: 1px solid #7f7f7f;
}

.content-container {
    width: 80%;
    overflow: auto;
}

.sidebar {
    height: 100%;
    display: flex;
    overflow: auto;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.sidebar-button {
    width: 100%;
    height: 3rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    /*background-color: lightgray;*/
}

.sidebar-button:hover {
    background-color: darkgrey;
}

.devtools-view-container {
    overflow: auto;
}

.flex {
    display: flex;
}
.items-center {
    align-items: center;
}
.justify-center {
    align-items: center;
}
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
