@import '~antd/dist/antd.css';

.main {
    display: flex;
    height: 100vh;
    background-color: aliceblue;
}

.sidebar-el-active {
    background-color: antiquewhite;
}

.sidebar-container {
    width: 20%;
    border-right: 1px solid #7f7f7f;
}

.content-container {
    width: 80%;
    overflow: auto;
}

.sidebar {
    height: 100%;
    display: flex;
    overflow: auto;
    max-height: 100vh;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.sidebar-button {
    width: 100%;
    min-height: 1rem;
    height: 2rem;
    max-height: 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    /*background-color: lightgray;*/
}

.sidebar-button:hover {
    background-color: darkgrey;
}

.devtools-view-container {
    overflow: auto;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.o-auto {
    overflow: auto;
}
#components-layout-demo-top-side-2 .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.site-layout-background {
    background: #fff;
}
